app-home {
  #area {
    width: 90%;
    height: 90%;
    z-index: 0;
    padding-left: 125px;
    padding-top: 44px;
  }

  #touchlayer {
    width: 90%;
    height: 90%;
    z-index: 1;
    position: absolute;
  }
}
